name: CI Tests

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
  merge_group:
    types: [checks_requested]

jobs:
  ci:
    name: node
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      DISPLAY: ":99.0"
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: package-lock.json
      - run: /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        if: matrix.os == 'ubuntu-latest'
      - run: npm ci
      - run: npm run test
      - run: npm run package
      - uses: actions/upload-artifact@v4
        with:
          name: vsix-${{ matrix.os }}
          path: vscode-azurearcenabledmachines-*.vsix
